@import url('../page/__header/page__header.css');
@import url("../header/__logo/header__logo.css");
@import url("../header/__links/header__links.css");
@import url("../header/__link/header__link.css");
@import url("../header/__lang/header__lang.css");
@import url("../header/__lang/_active/header__lang_active.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


