.page__comments {
    max-width: 1184px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
  }

  @media screen and (max-width:1184px) {
    .page__comments {
    max-width: 86.49%;
     
    }
  }
  
  @media screen and (max-width: 1024px) {
    .page__comments {
        max-width: 90.63%;
    
    }
  }
  
  @media screen and (max-width: 768px) {
    .page__comments {
        max-width: 93.75%;
      
    }
  }
  
  @media screen and (max-width: 425px) {
    .page__comments {
        max-width: 94.12%;
      
    }
  }
  
  @media screen and (max-width: 375px) {
    .page__comments {
      max-width: 91.47%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .page__comments {
      max-width: 90%;
    }
  }
  